h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 43px;
    color: rgb(72, 32, 12);
    text-decoration: underline overline double rgb(235, 81, 4);

    
}


.parentDiv{
    background-color: rgb(195, 196, 201);
    border: 5px double rgb(4, 4, 4);
    border-radius: 30px;
    padding: 5px;
    display: inline-block;
    box-shadow: 20px 20px 20px rgb(103, 102, 102);
}

input{
    margin: 15px;
    border: 5px double rgb(0, 0, 0);
    background-color: rgb(244, 238, 238);
    border-radius: 15px;
    padding: 5px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: right;
    
}

input:hover{
    background-color: rgb(214, 243, 226);
}
input:focus{
    background-color: rgb(255, 240, 219);
}



.parentDiv2{
    background-color: rgb(223, 178, 127);
    border: 5px double rgb(124, 39, 43);
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 40px;
}




button{
    padding: 10px 19px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: xx-large;
    border: 3px double black;
    border-radius: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(192, 221, 247);
}

button:hover{ /* C */
    padding: 11px 20px;
    background-color: rgb(160, 207, 249);
}

button:active{ /* C */
    padding: 12px 21px;
    background-color: rgb(89, 178, 255);

}



.number{
    padding: 8px 18px;
    font-size: 35px;
    background-color: rgb(166, 241, 210);
}

.number:hover{
    padding: 9px 19px;
    background-color: rgb(99, 243, 120);
}

.number:active{
    padding: 10px 20px;
    background-color: rgb(14, 199, 4);
}




.operator{ /* = */
    font-size: 30px;
    padding: 10px 17px;    
    background-color: rgb(227, 242, 132);
}

.operator:hover{
    padding: 11px 18px;
    background-color: rgb(227, 248, 92);
        
}

.operator:active{
    padding: 12px 19px;
    background-color: rgb(204, 187, 0);    
}





.operator1{ /*  /.-   */
    font-size: 30px;
    padding: 10px 23px;
    background-color: rgb(227, 242, 132);
    
}

.operator1:hover{
    padding: 11px 24px;
    background-color: rgb(227, 248, 92);

}

.operator1:active{
    padding: 12px 25px;
    background-color: rgb(204, 187, 0);    
    
}





.operator2{ /* %+ */
    font-size: 25px;
    padding: 7px 18px;
    background-color: rgb(227, 242, 132);

}

.operator2:hover{
    padding: 8px 19px;
    background-color: rgb(227, 248, 92);

}

.operator2:active{
    padding: 9px 20px;
    background-color: rgb(204, 187, 0);        

}





.operator3{ /* = */
    font-size: 30px;
    padding: 10px 20px;
    background-color: rgb(227, 242, 132);

}

.operator3:hover{
    padding: 11px 21px;
    background-color: rgb(227, 248, 92);

}

.operator3:active{
    padding: 12px 22px;
    background-color: rgb(204, 187, 0);    

}




.icon{
    font-size: x-large;
    padding: 10px 18px;
    background-color: rgb(192, 221, 247);
}

.icon:hover{
    padding: 11px 19px;
    background-color: rgb(160, 207, 249);

}

.icon:active{
    padding: 12px 20px;
    background-color: rgb(89, 178, 255);

}


.root{
    font-size: xx-large;
    padding: 10px 18px;
    background-color: rgb(192, 221, 247);
}
.root:hover{
    padding: 11px 19px;
    background-color: rgb(160, 207, 249);

}

.root:active{
    padding: 12px 20px;
    background-color: rgb(89, 178, 255);

}



.x{
    font-size: x-large;
    padding: 10px 18px;
    background-color: rgb(220, 187, 251);
}

.x:hover{
    padding: 11px 19px;
    background-color: rgb(204, 152, 251);
}

.x:active{
    padding: 13px 21px;
    background-color: rgb(176, 94, 249);
}



.bracket{
    padding: 10px 23px;
    background-color: rgb(245, 222, 179);
}

.bracket:hover{
    padding: 11px 24px;
    background-color: rgb(245, 196, 105);
}

.bracket:active{
    padding: 12px 25px;
    background-color: rgb(174, 140, 75);
}




.div1{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}